<div class="row row-primary row-primary-manger">
    <div class="col md-3 col-name-enginner">
        <h2>{{ name }}</h2>
    </div>
    <div class="col-md-1 manger-gap"></div>
    <div class="col-md-2 col-manger">
        <div class="row row-header">
            <div class="col-md-2 col=manger">
                <h3>Role</h3>
            </div>
        </div>
        <div class="row-content-manger">
            <p><i class="fas fa-headphones">{{ role }}</i></p>
        </div>
    </div>
    <div class="col-md-2 col=manger">
    <div class="row row-header">
        <h3>ID</h3>
    </div>
    <div class="row-content-manger">
        <p>{{ id }}
    </div> 
        <div class="row-content-manger">
            <p>{{id}}</p>
        </div>
    </div>
    <div class="col-md-2 col-manger">
        <div class="row row-header">
            <h3>E-mail</h3>
        </div>
        <div class="row-content-manger">
            <p><a class="manger-email" href="mailto;{{email}}"> {{email}}</a></p>
        </div>